@media(max-width: 1200px) {}

@media(max-width: 992px) {
    .menu__logo {
        height: 32px;
        width: 145px;
    }

    .banner__content {
        width: 60%;
        top: 30%;
    }

    .banner__title {
        font-size: 41px;
    }
}

@media(max-width: 768px) {
    .scroll-ico {
        height: 12px;
        width: 12px;
        left: 50%;
        border: none;
        border-radius: 0;
        transition: all 0.6s ease;
        animation: 2s ease infinite m-scroll-mb;
    }

    .scroll-ico:before {
        content: "";
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-right-style: solid;
        border-right-width: 3px;
        border-color: lab(100 0.00345707 -0.00889301 / 0.4);
        position: absolute;
        left: 0;
        top: 0;
        height: 32px;
        width: 32px;
        rotate: 45deg;
        background: none;
        animation: none;
    }

    .scroll-ico[is-show="false"] {
        bottom: 100px;
        opacity: 0;
    }

    @keyframes m-scroll-mb {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        100% {
            -webkit-transform: translateY(30px);
            transform: translateY(30px);
            opacity: 0;
        }
    }

    .menu {
        height: 64px;
    }

    .menu-mb {
        height: 68px;
    }

    .mb-menu__item p {
        flex-grow: 1;
        font-weight: 500;
        font-size: 11px;
        color: #353C46;
    }
}